.container
  %h1.page-header
    Пользователи
    %span.counter.label.label-success= User.count

  %table.table.table-striped
    %tr
      %th Email
      %th Платформа
      %th Создан
      %th Стран
      %th Городов
    - for user in User
      %tr
        %td= link_to user.email, user
        %td= user.mobile? ? "Mobile" : "Desktop"
        %td= user.created_at
        %td= user.countries_count
        %td= user.city_count
