= simple_form_for user, url: add_city_user_path(user), html: {class: 'add_city'}, remote: true do |f|
  .field
    = label_tag :city_name, 'Город'
    = text_field_tag :city_name
    = hidden_field_tag :city_latitude
    = hidden_field_tag :city_longitude
  .actions
    = f.submit 'Сохранить'
