.over_map
  %p#notice= notice

  %p
    %b Email:
    = user.email


  %h1 Добавить город


  = text_field_tag :city_name_auto

  %ul#cities
    = render user.cities

  %h3#city_count
    %li Количество городов
    = user.city_count
#map-canvas
