.over_map
  %p#notice= notice

  %p
    %b Email:
    = user.email


  %h1 Добавить город


  = text_field_tag :city_name_auto

  %ul#cities
    = render user.cities

  #city_count
    %h3 Количество городов
    %span.counter= user.city_count
  #countries_count
    %h3 Количество стран
    %span.counter= user.countries_count

#map-canvas
