- content_for :head do
  %meta{content: "#{request.protocol}#{request.host_with_port}/#{user.world_map_name}", property: "og:image"}/
  %meta{content: "Моя карта путешествий", property: "og:title"}/
  %meta{content: "#{request.original_url}", property: "og:url"}/
  %meta{content: "followmytravel.com", property: "og:site_name"}/
  %meta{content: "Я посетил #{user.city_count} городов в #{user.countries_count} странах, а ты?", property: "og:description"}/

.over_map
  .header
    = link_to 'Follow My Travel', root_path, class: 'logo-small left'
    %p#notice= notice

    - if current_user
      #map_welcome.dialog.align-center
        %h2 Спасибо!
        %h3 Заполни карту путешествий и поделись ею.
        = text_field_tag :city_name_auto, '', class: 'text', placeholder: 'Введи город'
    - else
      .right
        = link_to "Стань участником!", '#', :class => 'btn btn-large invite_final'
      .text_container.dialog.align-center.hide
        %h2.align-center Уже скоро!
        %h3.align-center Проект в стадии разработки, но уже сегодня ты можешь запросить инвайт и создать свою карту путешествий
        .users.email_form
          = render 'users/form'


    .counters{class: ('hide' unless user.cities?)}
      .counter
        .label городов
        #cities_count.number= user.city_count

      .counter
        .label стран
        #countries_count.number= user.countries_count

.share_container
  .share_label Поделись своей картой с миром!
  = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: '_blank', class: 'facebook'
  = link_to 'Twitter', "https://twitter.com/intent/tweet?&text=Я посетил #{user.city_count} городов в #{user.countries_count} странах, а ты? #{request.original_url}", target: '_blank', class: 'twitter'
  = link_to 'VK', "http://vk.com/share.php?url=#{request.original_url}&title=Моя карта путешествий&description=Я посетил #{user.city_count} городов в #{user.countries_count} странах, а ты?&image=#{request.protocol}#{request.host_with_port}/#{user.world_map_name}", class: 'vk'

#map-canvas
