.over_map
  .header
    = link_to 'Follow My Travel', root_path, class: 'logo-small left'
    %p#notice= notice

    = text_field_tag :city_name_auto, '', class: 'text', placeholder: 'Введите город'

    .counter.right
      .label городов:
      #city_count.number= user.city_count

    .counter.right
      .label стран:
      #countries_count.number= user.countries_count

#map-canvas
