.main
  %section.page_1
    .container
      .logo
        = image_tag 'fmt-logo.png'
      %h2
        Самый простой способ обмениваться
        %br
        впечатлениями о путешествиях
      = link_to 'Запросить инвайт', '#', :class => 'btn invite_me'

  %section.page_2
    .logo-small
      = image_tag 'fmt-logo-small.png'
    = link_to 'Запросить инвайт', '#', :class => 'btn btn-small animated lightSpeedIn invite_me'
    .container
      %h1.align-center Найди
      %h2.align-center Самые интересные места по мнению твоих друзей
      %p.align-center
        %span.icon
          = image_tag 'icon-food.png'
        %span.icon
          = image_tag 'icon-stay.png'
        %span.icon
          = image_tag 'icon-see.png'
        %span.icon
          = image_tag 'icon-walk.png'

  %section.page_3
    .logo-small
      = image_tag 'fmt-logo-small.png'
    = link_to 'Запросить инвайт', '#', :class => 'btn btn-small animated lightSpeedIn invite_me'
    .container
      %p.align-center
        %span.icon.talk
          = image_tag 'icon-talk.png'
      %h1.align-center Расскажи
      %h2.align-center О собственном опыте друзьям и храни свои заметки путешествий

  %section.page_4
    .over_map.full
      .logo-small
        = image_tag 'fmt-logo-small.png'
      .container
        %h1.align-center Уже скоро!
        %h2.align-center Проект в стадии разработки, но уже сегодня ты можешь запросить инвайт и создать свою карту путешествий
        %p.align-center
          = link_to 'Запросить инвайт', '#', :class => 'btn btn-large invite_final'
        .users.email_form
          = render 'users/form'

    #map-canvas-main
