!!!
%html
  %head
    %meta
    %title
      Follow My Travel
    = stylesheet_link_tag "application", :media => "all"
    =# javascript_include_tag 'http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyCaF8hCqtGfJfTk2DDciDSHNctYTF5kLKY'

    = javascript_include_tag "application"
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = csrf_meta_tags
    = include_gon
%body
  = yield
