<!DOCTYPE html>
<html ng-app='fmt_account'>
<head>
    <!--- <meta name="viewport" content="initial-scale=1, minimal-ui">
     <link rel="shortcut icon" type="image/png"  href="/assets/plane.png"/>-->
    <title>Follow My Travel | 75 days of Europe</title>
    <!--<meta charset="utf-8">-->
  <meta content="75 days of Europe" property="og:title">
  <meta content="Следи за нашими передвижениями по Европе и советуй все самое классное - только то, что тебе самому понравилось в этих городах!" property="og:description">
  <meta content="Follow My Travel" property="og:site_name">
  <meta content="<%= request.original_url+image_path('travelers/75days.jpg') %>" property="og:image">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <base href="/">

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,300italic,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "travels", :media => "all" %>

    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
<body >
<div class="main">
    <div class="navbar fmt-grey-bg fmt-header" role="navigation">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fmt-header-wrapper-content">
            <div class="navbar-header">
                <%= link_to 'http://beta.followmytravel.com', class:"navbar-brand" do %>
                    <%= image_tag asset_path('logo_new.png') %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="mainCtrl">
        <%= yield %>
    </div>
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '366799593338597',
            xfbml      : true,
            version    : 'v2.1'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>
